*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.main-container{
    background-color: aquamarine;
    height:200px; 
    margin: calc(100%/2); 
    padding: 40px; 
    border: 4px solid #af77b5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  width 2s ease-in 1s;
}

.main-container:hover {
  transform: scale(1.03);
}
.form-wrapper{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.form-label{
    margin-top: 20px;
    color: #039b68;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1rem;
    font-weight: bold;
}
.form-input{
    border-color: #039b68;
    margin: 5px 0;
    height:30px;
    width: 200px;
    border: 3px solid rgb(225, 238, 151);
    border-radius: 5px;
}
.form-input:focus{
  border-color: #039b68;
} 
.submit_bt{
    margin:5px 60px;
    height: 30px;
    width: 60px;
    font-size: medium;

}
.submit_bt:hover {
  background-color: #027a52;
  transform: translateY(-2px);
}
