*{
    margin: 0;
    padding: 0;
}
.todo-container{
    background-color: aqua;
    color: rgb(8, 29, 22);
    /* width: 100vw; */
    padding: 100px;
}
.todo-form{
    width:50%;
    height: 300px;
    box-shadow: rgba(53, 9, 9, 0.637) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    height: 20px;
    width: 50%;
    margin-top: 10px;
    padding: 3px; 
}
.form-input{
    width: 60%;
    height: 15px;
    padding: 3px;
}

.form-select{
    width: 60%;
    height: 25px;
    padding: 3px;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 20px;
}


@media (max-width:600px) {
    body{
        width:100vw;
    }
    .form-group{
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .todo-form{
        display: flex;
        flex-wrap: wrap;
    }
    
}