*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.category-header__menu{
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100;
}
.category-header__menu-line{
    height: 3px;
    width: 50%;
    background: #FFFFFF;
    transition: all 0.3s ease;
}
.sidebar {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #111;
    color: white;
    padding: 280px 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar--open {
    left: 250px;
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__list li {
    margin-bottom: 20px;
    cursor: pointer;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 900;
}


/* css for home about pages and product */
.navbar{

}

.navbar__list{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

