*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-header{
    margin-top: 40px;
    padding: 15px 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.category-header__menu-line{
    color: aliceblue;
    height: 3px;
    width: 5px;
    display: flex;

}
.sidebar:active{
   
}