*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-header{
    background-color: #01A49E;
    width: 100%;
    height: 51px;
    padding: 30px 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.category-header__title-wrapper{
    color: #FFFFFF;
}

.header__nav-list{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.header__nav-item{
    list-style: none;
    font-size: 20px;

}
.header__nav-item a{
    color: #FFFFFF;
    text-decoration:none;
}

/* hamburger menu */
.category-header__menu{
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.category-header__menu-line{
    /* background-color: #ca1515;  */
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: block; 
    flex-shrink: 0; 
}

/* side effect bar */
.sidebar{
    background-color: #ffffff;
    position: fixed;
    top: 150px;
    left: -300px;
    width: 270px;
    height: 100vh;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    transition: left 0.3s ease;
    z-index: 999;
   /* overflow-x: auto; */

}
.sidebar--open{
    left: 0;
}
.sidebar__title{
    font-size: 18px;
    margin-bottom: 20px;
    color: #db6b6b;
}
.heading{
    color: #EB4227;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.sidebar__item{
  

}
.sidebar__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    transition: background 0.2s ease;
} 
.sidebar__link:hover {
    background-color: #f9f9f9;
    color: #01A49E;
}
