*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #01A49E;
    padding-top: 30px;
    width: 100%;
    min-height: 170px;
    display: flex;
    align-items:flex-start;
    box-sizing: border-box;  
}
.navbar__brand {
   /* margin-top: 40px; */
   width: fit-content;
   height: 50px;
   padding: 20px 40px; 
   display: flex;
   flex-direction: row;
   align-items: center;
   
}
.navbar__brand-logo {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.navbar__brand-name {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    color: aliceblue;
}


.navbar__search {
    display: flex;
    align-items: center;
}

.navbar__search-form {
    display: flex;
    align-items: center;
}

.navbar__search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    /* overflow: hidden; */
    border: 1px solid #ccc;
}

.navbar__search-input {
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 0.9rem;
    width: 220px;
    background: transparent;
}

.navbar__search-btn {
    border: none;
    outline: none;
    background-color: #f5c842;
    color: #222;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navbar__search-btn:hover {
    background-color: #e0b030;
}


